@media only screen and (min-width: 35rem) {

    h1{
       
        font-size: 3.3em;
        margin: 0px;
        }


        .site-title {
            position: absolute;
            top: 25px;
            left:30px;
            color: white;
          
            padding: 1rem;
            
           
        }
        /**********************************************************************************************************************/
        /**********************************************************************************************************************/
        /**********************************************************************************************************************/
        /**********************************************************************************************************************/
        #responses li {
            
            display: grid;
            grid-template-columns: 30% 70%;
        } 
        
        #responses li img{
            text-align: center;
        }
        #responses li h3{
            text-align: left;
        }

        
        /**********************************************************************************************************************/
        /**********************************************************************************************************************/
        /**********************************************************************************************************************/
        /**********************************************************************************************************************/
        /*CSS RELATED TO THE GALERY ONLY*/

        .gallery-grid{
            display: grid;
            grid-template-columns: 1fr 1fr;

            
        }


        .gallery-grid figure {
        text-align: center;    
        }   





} /*end large */